# Compiled Object files
*.d
*.slo
*.lo
*.o
*.obj
tags
*.rdbg
# Vim/project files
.exrc
.cache
Session.vim
project.vim

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
MakeFile
cmake_install.cmake
CMakeCache.txt
CMakeFiles/

# build folder
build/
src/include/smol/smol_version.h
!src/tools/objimport/samples/
!src/tools/objimport/samples/*.obj
