# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
MakeFile
cmake_install.cmake
CMakeCache.txt
CMakeFiles/

# build folder
build/
tags
.exrc
src/include/smol/smol_version.h
project.vim
*.rdbg
.cache
Session.vim
